<div class="row">
    <div class="col-xs-12">
        <h1>Welcome to our ATM application</h1>
        <br>
        <h2>Balance page</h2>
        <ul>
            <li><span class="bold-user-template">You are logged as</span> {{customer.userName}}</li>
            <li><span class="bold-user-template">Account </span> #{{customer.accountNumber}}</li>
            <li><span class="bold-user-template">Card </span> #{{customer.cardNumber}}</li>
            <li><span class="bold-user-template">Expired on </span> {{customer.expDate}}</li>
        </ul>

        <p><span class="bold-user-template">Balance: </span> <span class="glyphicon glyphicon-euro"></span>
            {{customer.currentBalance}}</p>
    </div>

    <div id="withdrawModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cash withdraw</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="withdrawError">
                        <p>Error: the amount of money at your account is not enough to complete request.</p>
                        <p>{{withdrawModallMessage2Show}}</p>
                    </div>
                    <div ng-show="!withdrawError">
                        <p>There are your &euro;{{cashAmount2Withdraw}}</p>
                        <p>Current balance is &euro;{{customer.currentBalance}}</p>
                    </div>
                    <p><span class="red-alert-text">Please do not forget to remove the card.</span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" id="withdrawModalButton"
                            ng-click="closewithdrawModal();"><span id="withdrawModalButtonText"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-xs-push-3">
        <form name="withdrawForm" class="form-horizontal" ng-submit="withdrawCash(cashAmount2Withdraw);">
            <div class="form-group">
                <label for="cashAmount2Withdraw" class="col-xs-8 control-label">Withdraw money</label>
                <div class="col-xs-4">
                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           ng-model="cashAmount2Withdraw" class="form-control" id="cashAmount2Withdraw" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4 col-xs-8">
                    <div class="btn-group-vertical pull-right">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                        <button type="button" class="btn btn-danger" ng-click="exitToLoginPage();">Exit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>